<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title: title } ) %>
  <body>
    <%- include('./partials/header') %>
    <main id="messageMain">
      <div id="messageMainDetail">
        <div class="messageDetailCard">
          <h2>Message Detail</h2>

          <div class="messageMainContent">
            <div class="messageMainContentTitle">
              <img
                src="/logo.webp"
                alt="Profile picture of <%= message.user %>"
                width="40"
                class="<%= message.user %>"
              />
              <p class="<%= message.user %>"><%= message.user %></p>
            </div>

            <p class="msgText"><%= message.text %></p>

            <p class="msgDate"><%= message.added %></p>
          </div>

          <a href="javascript:history.back()" class="">Back</a>
        </div>
      </div>

      <%- include('./partials/userList', {Users: Users}) %>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
